*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

h1{
    margin: 3rem;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

#textbox{
    margin: 3rem;
    width: 50%;
    height: 50rem;
    font-size: 2rem;
    float: left;
}

#searchword{
    margin: 3rem;
    font-size: 2rem;
}

#searchbtn{
    margin: 3rem;
    font-size: 2rem;
}

.parrafo {
    font-size: 2rem;
}

.subrayado {
    background-color: yellow;
}