*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

.form{
  font-size: 2rem;
  padding: 5rem;
  position: absolute;
  border: 1px solid black;
  border-radius: 2rem;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.form input{
  height: 2rem;
}

.form-btn{
  border-radius: 2rem;
  font-size: 2rem;
  background-color: crimson;
  width: 20rem;
}

.search{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.search-title{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.search-input{
  font-size: 2rem;
}

.catalog{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.catalog table,tr,td,th{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.catalog-table{
  background-color: indianred;
  font-size: 2.5rem;
}

.catalog-table th{
  background-color: firebrick;
}

.delete-btn{
  background-color: gold;
  border-radius: 1rem;
}

#error{
  font-size: 3rem;
  color: red;
}