*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  background-color: skyblue;
  
}

.Login-mainbox{
  background-color: cornflowerblue;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5rem;
  width: 40%;
  height: 50%;
  border: 1px solid black;
  border-radius: 2rem;
}

.Login-mainbox-title, .Register-mainbox-title{
  text-align: center;
  font-size: 3.5rem;
  margin: 1rem 0;
}

.Login-mainbox-login, .Register-mainbox-register{
  width: min-content;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-70%);
}

.Login-main-login-label, .Register-mainbox-register-label{
  font-size: 2.5rem;
}

.Login-main-login-input {
  margin: 0.5rem 0;
  width: 30rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.Login-main-login-submit, .Register-mainbox-register-submit{
  margin: 1rem 0;
  width: 30rem;
  height: 5rem;
  background-color: darkblue;
  font-size: 2rem;
  color: white;
  border-radius: 2rem;
}


.Register-mainbox-register-input{
  margin: 0.5rem 0;
  width: 30rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 1rem;
}


.Register-mainbox{
  background-color: cornflowerblue;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5rem;
  width: 40%;
  height: 70%;
  border: 1px solid black;
  border-radius: 2rem;
}

.Register-mainbox-register{
  height: 65%;
}