*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.form{
    margin-top: 10rem;
    position: relative;
}

form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.month{
    margin-top: 3rem;

}



table,tr,td,th{
    font-size: 4rem;
    border: 0.1rem solid red;
    border-collapse: collapse;
    text-align: center;
}