*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  background-color: darkslateblue;
}

.maintitle{
  margin: 3rem auto;
  text-align: center;
  font-size: 5rem;
  border-bottom: 5px solid black;
  width: 40rem;
}

.keyboard{
  margin: 3rem auto;
  font-size: 2rem;
}

.keyboard input{
  font-size: 3rem;
  margin: 1rem;
}