*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  background-color: darkslateblue;
}

/*Start page*/

.start{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.start-btn{
  font-size: 3rem;
  border-radius: 1rem;
  width: 20rem;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.maintitle{
  margin: 20rem auto;
  text-align: center;
  font-size: 5rem;
  font-family: 'Mansalva', cursive;
  border-bottom: 5px solid black;
  width: 40rem;
}

/*Ahorcado*/

  /*Word*/
.word{
  margin: 4rem auto;
  text-align: center;
}

.word-letter{
  margin: 1rem;
  float: left;
  font-size: 8rem;
}
  /*End Word*/
  /*Keyboard*/
.keyboard{
  clear: both;
  margin: 3rem auto;
  width: 90rem;
}

.keyboard-visible{
  font-size: 3rem;
  margin: 1rem;
  width: 8rem;
  border-radius: 2rem;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.keyboard-disabled{
  display: none;
}
  /*End Keyboard*/

  /*Fails*/

.fails{
  margin: 2rem auto;
}

.fails-count{
  font-size: 8rem;
}

  /*End Fails*/

  /*Exit btn*/
.exit{
  margin: 3rem auto;
  width: 10rem;
}

.exit-btn{
  font-size: 3rem;
  margin: 1rem;
  width: 8rem;
  border-radius: 2rem;
  background-image: linear-gradient(red, yellow);
}
  /*End Exit btn*/

  /*Lose*/

.lose-title{
  text-align: center;
  margin: 10rem 0;
  font-size: 10rem;
}

  /*End Lose*/

/*End Ahorcado*/