*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

.form{
  margin: 3rem auto;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2.5rem;
  width: 50rem;
}

.form input{
  margin: 1rem 0;
}

.form--title{
  font-size: 5rem;
  margin: 1rem;
  text-align: center;
}

.form--text{
  border-radius: 2rem;
  height: 2.5rem;
}

.form--text--invalid{
  border-color: red;
}