*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.form{
    position: relative;
}

form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);;
}

.error{
    position: absolute;
    font-size: 4rem;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
}

.mes{
    width: 25%;
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: 1rem;
    float: left;
}

.tablames{
    margin: 0;
    font-size: 3rem;
}

.mes h1{
    font-size: 4rem;
    text-transform: uppercase;
}

table{
    text-align: center;
}



.finde{
    color: red;
}